@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'pirulen';
    src: url('../public/pirulen.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
